<mat-card class="card-join-exam">
  <mat-card-title>{{exam.name}}</mat-card-title>
  <mat-card-subtitle *ngIf="exam.subject" >Subject: {{exam.subject.name}}</mat-card-subtitle>
  <mat-card-content>
    <p>Start time: {{exam.start | date:"dd/MM/yyyy HH:mm"}}</p>
    <p>Time work: {{exam.time}} minutes</p>
    <p>Questions: {{exam.countQuestion ?? 0}}</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="joinExam(exam.id!)">JOIN</button>
  </mat-card-actions>
</mat-card>
