<h1 mat-dialog-title>Create Classroom</h1>
<hr />
<form (ngSubmit)="submit()" #formCreateSubject="ngForm">
  <div mat-dialog-content>

    <p>
      <mat-form-field appearance="fill">
        <mat-label>Name classroom</mat-label>
        <input matInput [(ngModel)]="data.name" maxlength="50" name="name" required >
      </mat-form-field>
    </p>

  </div>
  <div mat-dialog-actions class="d-flex justify-content-end">
    <button mat-button matDialogClose >Cancel</button>
    <button mat-raised-button [type]="'submit'" color="primary" [disabled]="!formCreateSubject.valid" >Create</button>
  </div>
</form>
