<h1 id="tableLabel">Subject</h1>

<p *ngIf="dataSource.length == 0"><em>Loading...</em></p>

<table *ngIf="dataSource.length != 0" mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> Id </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <ng-container matColumnDef="code">
    <th mat-header-cell *matHeaderCellDef> Code </th>
    <td mat-cell *matCellDef="let element"> {{element.code}} </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <ng-container matColumnDef="noCredit">
    <th mat-header-cell *matHeaderCellDef> Number of Credit </th>
    <td mat-cell *matCellDef="let element"> {{element.noCredit}} </td>
  </ng-container>

  <ng-container matColumnDef="action">
    <th class="th-action-2" mat-header-cell *matHeaderCellDef> Action </th>
    <td mat-cell *matCellDef="let element">
      <button class="btn-action-table" mat-icon-button aria-label="Edit Subject" (click)="openModalUpdate(element)">
        <mat-icon color="accent">edit</mat-icon>
      </button>
      <button class="btn-action-table" mat-icon-button aria-label="Delete Subject" (click)="confirmDeleteSubject(element)">
        <mat-icon color="warn">delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<div class="popup-container">
  <button mat-fab color="accent" aria-label="Add Subject" (click)="openModalCreate()" >
    <mat-icon class="icon-2x">add</mat-icon>
  </button>
</div>
